.container-categories-dynamic {
    display: flex;
    flex-direction: column;
}

.category-delete {
    @include btn($btnBackgroundDelete);
    margin-right: 10px;

}
.no-category-delete {
    @include btn($btnBackgroundDelete);  
    margin-right: 10px;
    opacity: 0.5;
    cursor: text;
}

.category-edit {
    @include btn($btnBackgroundEdit);

}

.icon-delete , .icon-edit {
    font-size: 13px;
}

.input-category-modal-edit {
    width: 80%;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    letter-spacing: 0.05rem;
    &:focus {
        outline: none;
    }
}

