.m-links-products {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.products-m-container {
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

           

                a.btn-add-new-product{
                    border-radius: 10px;
                    width: 18%;
                    height: 40px;
                    color:white;
                    letter-spacing: 2px;
                    display: flex;
                    align-items: center;
                    //background: #197BBD;
                    background-image: linear-gradient(90deg, #197BBD 0%, #1d76b1 35%, #186fa8 100%);
                    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3) , 0 10px 10px rgba($color: #000000, $alpha: 0.3);
                    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                }
            }
      .products-search {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                
                input {
                    width: 80%;
                    height: 40px;
                    border-radius: 10px;                 
                    border: 1px solid rgba($color: #ccc, $alpha: 0.3);
                    box-shadow: 1px 6px 6px rgba($color: #ccc, $alpha: 0.1);
                    padding-left: 10px;
                    letter-spacing: 1px;
                    &:focus {
                        outline: none;
                    }
                }
      }

.search-empty-products {
    width: 95%;
    text-align: center;

    span {
        color:rgb(150, 150, 150);
    }
}


.container-all-items-products-categories {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .container-products-dynamic { 
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 10px;
       
        box-shadow: 0px 0px 5px 2px  rgba($color: #000000, $alpha: 0.1) ,0px 0px 5px 3px  rgba($color: #333232, $alpha: 0.1);
            .product-card{
                flex: 1;
                display: flex;
                min-height: 160px;
                min-width: 320px;
                cursor: pointer;
                margin: 10px;
                border: 1px solid rgba($color: #ccc, $alpha: 0.7);
                box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.1);
                background-color: #F4F5F7;
                border-radius: 5px;
                width: 100%;
                    // .products-card-left {
                    
                    //     width: 40%;
                    //     border-right: 1px solid rgba($color: #ccc, $alpha: 0.5);
                    //     background-image: url("../../../public/imgs/products/card.jpg");
                    //     background-position: center;
                    //     background-repeat: no-repeat;
                    //     background-size: cover;
                    // }
      

            .products-card-right {
            
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 5px;
                    .product-title {
                        font-size: 15px;
                        font-weight: 600;
                        display: flex;
                        justify-content: space-between;
            

                        .name-product {
                        //     &::after{
                        //         content: '';
                        //         width: 70%;
                        //         height: 1px;
                        //         background-color: rgba($color: rgb(173, 170, 170), $alpha: 0.8);                  
                        //         display: block;
                        //         margin-bottom: 4px;

                
                        // }

                        }
                        .product-view {
                            padding-right: 5px;
                        }
                    
                }
                .product-body {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 13px;
                        justify-content: space-between;
                    
                        span:nth-child(1) {
                                span:nth-child(2) {
                                    background-color: rgba($color: #AFD0D6, $alpha: 0.5);
                                    border-radius: 5px;
                                    padding: 0 3px;
                                }
                        }
                
                        span:nth-child(2) {
                                span:nth-child(2) {
                                    background-color: rgba($color: #AFD0D6, $alpha: 0.5);
                                    border-radius: 5px;
                                    padding: 0 3px;
                                }
                        
                        }
                        span:nth-child(3) {
                                span:nth-child(2) {
                                    background-color: #F7E8A4;
                                    background-color: rgba($color: #AFD0D6, $alpha: 0.5);
                                    border-radius: 5px;
                                    padding: 0 3px;
                                }
                        }
                
                        span:nth-child(4) {                     
                                span:nth-child(2) {
                                    background-color: rgba($color: #AFD0D6, $alpha: 0.5);
                                    border-radius: 5px;
                                    padding: 0 3px;
                                }
                        }
                        span:nth-child(5) {                    
                                span:nth-child(2) {
                                    background-color: rgba($color: #AFD0D6, $alpha: 0.5);
                                    border-radius: 5px;
                                    padding: 0 3px;
                                    width: auto;
                                }
                        }                
                        span {
                            flex: 1;
                            padding: 1px 2px;
                            color: #716A5C;
                            display: flex;
                                span:last-child {
                                    color: black;
                                    font-size: 12px;

                                }
                        }

                }
                .product-footer {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;               
                        flex-wrap: wrap;

                    span {
                        background-color: #F1E3E4;
                        border-radius: 20px;
                        margin-bottom: 5px;
                        color: #01161E;
                        font-size: 10px;
                        padding: 0 10px;
                        letter-spacing: 0.5px; 
                            &:nth-child(2n) {
                                padding: 0 2px;
                                background-color: #CCBCBC ;
                                color: #01161E;
                                
                            }
                    }
                }   
            }
        }
    }
}



//temporario
.products-card-left {
           
    width: 40%;
    border-right: 1px solid rgba($color: #FECDAA, $alpha: 0.5);
     //background-image: url("../../../public/imgs/products/card.jpg");
     //background-image: url('../../../public/products/aiJzSz4n4Gzfyv2Gt0WmvP1d4s7g72NUPw7xpCb8.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// .products-card-left-2 {
   
//     width: 40%;
//     border-right: 1px solid rgba($color: #ccc, $alpha: 0.5);
//     background-image: url("../../../public/imgs/products/tenis.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .products-card-left-3 {
   
//     width: 40%;
//     border-right: 1px solid rgba($color: #ccc, $alpha: 0.5);
//     background-image: url("../../../public/imgs/products/calca.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

@media screen and (max-width:356px) {
    .container-products-dynamic { 
            .product-card{
                min-width: 220px;
                flex-direction: column;
                  .products-card-left  { 
                        width: 100%;
                        height: 100px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size:cover;                   
                     }   
                    .products-card-right {    
                        width: 100%;
                        height: 200px;
                    }
            }
    }
}



@keyframes opacity-peroducts-cards {
        from {
            opacity: 0;
            background-color: #F4F5F7;
        }
        to {
            opacity: 1;
        }
}