.m-home-content-header {
  display: flex;
  justify-content: space-between;
}

.m-home-content-header .m-badge {
  background-color: #0D91D1;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  cursor: pointer;
}

.m-home-content-header .m-badge .m-message-badge {
  position: relative;
  top: -6px;
  right: -6px;
  background-color: #CE4A31;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  width: 17px;
  height: 17px;
}

.m-home-content-header .m-badge .m-icon-badge {
  color: white;
  position: relative;
  text-align: center;
  top: 6px;
  left: 10px;
  font-size: 12px;
}

.home-container {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 95vw;
}

.home-container .home-card {
  flex: 1;
  margin: 15px;
  padding: 20px 0;
  background-color: #FFF;
  border-radius: 30px;
  min-width: 250px;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.home-container .home-card .home-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.home-container .home-card .home-card-header span:first-child {
  font-size: 40px;
  color: #7C8483;
  opacity: 0.8;
}

.home-container .home-card .home-card-header span:last-child {
  font-size: 25px;
  color: #7C8483;
  opacity: 0.8;
  font-weight: bold;
}

.home-container .home-card-body {
  padding: 15px;
  text-align: center;
  color: #7C8483;
  display: flex;
  height: 230px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-container .home-card-body .home-body-img {
  width: 130px;
  height: 130px;
}

.home-container .home-card-footer {
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  width: 150px;
}

.home-container .home-card-footer .icon-btn-footer {
  font-size: 13px;
}

.home-container .home-card-footer button {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  color: #7C8483;
}

.home-container .home-card-footer button:focus {
  outline: none;
}

.home-container .home-card-footer:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.img-chart {
  background-image: url(/images/chart.svg?7a34eab6ff1560f5b91a008828e81af9);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.img-sale {
  background-image: url(/images/sale.svg?8b183711e59d7669123c8df83efb76f2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.img-user {
  background-image: url(/images/user.svg?d4607eab39a4266b6b01c0e8b1f0156b);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img-product {
  background-image: url(/images/product.svg?3c2ea25c7dd0aec4d0e92e9553084336);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-height: 850px) and (min-width: 1400px) {
  .home-container {
    width: 67vw;
  }
}

.add-class-if-delete-item {
  border: 1px solid #A5D8BC;
  width: 98%;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #D4EDDA;
  color: #447C51;
  letter-spacing: 0.06rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

@-webkit-keyframes hide-class-if-delete-item {
  from {
    opacity: 1;
    height: 40px;
    margin-bottom: 15px;
    width: 98%;
  }

  to {
    opacity: 0;
    height: 0;
    margin-bottom: 0px;
  }
}

@keyframes hide-class-if-delete-item {
  from {
    opacity: 1;
    height: 40px;
    margin-bottom: 15px;
    width: 98%;
  }

  to {
    opacity: 0;
    height: 0;
    margin-bottom: 0px;
  }
}

.form-create-new-user {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
}

small.message-error {
  color: #E02424;
}

.field-permission-create {
  display: flex;
  flex-direction: column;
}

.field-permission-create .select-permission-create {
  border: 1px solid rgba(204, 204, 204, 0.9);
  border-radius: 5px;
  width: 30%;
  background-color: white;
  padding: 1px;
  margin: 3px 0;
}

.field-permission-create .select-permission-create:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .field-permission-create .select-permission-create {
    width: 50%;
  }
}

.field-permission-edit {
  display: flex;
  flex-direction: column;
}

.field-permission-edit .select-permission-edit {
  border: 1px solid rgba(204, 204, 204, 0.9);
  border-radius: 5px;
  width: 70%;
  background-color: white;
  padding: 1px;
  margin: 3px 0;
}

.radio-buttons-permissions-edit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.radio-buttons-permissions-edit .radio-buttons-permissions-edit-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  border-radius: 30px;
  padding: 0 8px;
  border-bottom: 1px solid rgba(45, 30, 47, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.radio-buttons-permissions-edit .input1-edit,
.radio-buttons-permissions-edit .input2-edit,
.radio-buttons-permissions-edit .input3-edit {
  margin: 0 5px;
  cursor: pointer;
}

.user-update-success {
  margin-right: 10px;
  opacity: 0.7;
  display: none;
}

@media screen and (max-width: 376px) {
  .radio-buttons-permissions-edit {
    flex-direction: column;
    align-items: flex-start;
    min-height: 90px;
  }
}

@-webkit-keyframes opacityUpdateUserSuccessShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacityUpdateUserSuccessShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacityUpdateUserSuccessHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes opacityUpdateUserSuccessHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.container-category-product {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-category-product .category-product-main-painel {
  background-color: white;
  max-height: 70px;
  min-width: 250px;
  margin: 0 30px 30px;
  border-radius: 10px;
  flex: 1;
  cursor: pointer;
}

.container-category-product .category-product-main-painel .add-new-category-row {
  display: flex;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2), 1px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container-category-product .category-product-main-painel .add-new-category-row .add-new-left-col-1 {
  background-image: linear-gradient(#0D91D1, #1479ac);
  min-height: 70px;
  width: 20%;
  border-radius: 10px 0 0 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}

.container-category-product .category-product-main-painel .add-new-category-row .add-new-right-col {
  display: flex;
  width: 100%;
}

.container-category-product .category-product-main-painel .add-new-category-row .add-new-right-col .content-category-title-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-category-product .category-product-main-painel .add-new-category-row .add-new-right-col .content-category-title-body .add-new-title {
  font-size: 13px;
  padding-left: 6px;
}

.container-category-product .category-product-main-painel .add-new-category-row .add-new-right-col .content-category-title-body .add-new-message {
  font-size: 25px;
  font-weight: 600;
  padding-left: 6px;
}

.container-category-product .category-product-main-painel .add-new-category-row .add-new-right-col .line-right-card-1 {
  width: 7px;
  background-image: linear-gradient(#0D91D1, #1479ac);
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-category-product .category-product-main-painel .add-new-category-row .add-new-right-col .line-right-card-1 .card-icon-info {
  color: white;
  font-weight: lighter;
  display: flex;
  opacity: 0;
}

.add-new-left-col-3 {
  background-image: linear-gradient(#EA8C55, #c77647);
  min-height: 70px;
  width: 20%;
  border-radius: 10px 0 0 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}

.add-new-left-col-2 {
  background-color: #622666;
  background-image: linear-gradient(#69306D, #86358b);
  min-height: 70px;
  width: 20%;
  border-radius: 10px 0 0 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}

.line-right-card-2 {
  width: 7px;
  background-image: linear-gradient(#69306D, #86358b);
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-right-card-2 .card-icon-info {
  color: white;
  font-weight: lighter;
  display: flex;
  opacity: 0;
}

.line-right-card-3 {
  width: 7px;
  background-image: linear-gradient(#EA8C55, #c77647);
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-right-card-3 .card-icon-info {
  color: white;
  font-weight: lighter;
  display: flex;
  opacity: 0;
}

@-webkit-keyframes cards-icon-size-enter {
  from {
    font-size: 30px;
  }

  to {
    font-size: 35px;
  }
}

@keyframes cards-icon-size-enter {
  from {
    font-size: 30px;
  }

  to {
    font-size: 35px;
  }
}

@-webkit-keyframes cards-icon-size-leave {
  from {
    font-size: 35px;
  }

  to {
    font-size: 30px;
  }
}

@keyframes cards-icon-size-leave {
  from {
    font-size: 35px;
  }

  to {
    font-size: 30px;
  }
}

@-webkit-keyframes div-rigth {
  from {
    width: 7px;
  }

  to {
    width: 20%;
  }
}

@keyframes div-rigth {
  from {
    width: 7px;
  }

  to {
    width: 20%;
  }
}

@-webkit-keyframes div-rigth-reverse {
  from {
    width: 7px;
  }

  to {
    width: 20%;
  }
}

@keyframes div-rigth-reverse {
  from {
    width: 7px;
  }

  to {
    width: 20%;
  }
}

@-webkit-keyframes icon-info-show {
  from {
    opacity: 0;
    font-size: 1px;
  }

  to {
    opacity: 1;
    font-size: 28px;
  }
}

@keyframes icon-info-show {
  from {
    opacity: 0;
    font-size: 1px;
  }

  to {
    opacity: 1;
    font-size: 28px;
  }
}

@-webkit-keyframes icon-info-show-reverse {
  from {
    opacity: 1;
    font-size: 28px;
  }

  to {
    opacity: 0;
    font-size: 1px;
  }
}

@keyframes icon-info-show-reverse {
  from {
    opacity: 1;
    font-size: 28px;
  }

  to {
    opacity: 0;
    font-size: 1px;
  }
}

.m-links-products {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.products-m-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-m-container a.btn-add-new-product {
  border-radius: 10px;
  width: 18%;
  height: 40px;
  color: white;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #197BBD 0%, #1d76b1 35%, #186fa8 100%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.products-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.products-search input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(204, 204, 204, 0.3);
  box-shadow: 1px 6px 6px rgba(204, 204, 204, 0.1);
  padding-left: 10px;
  letter-spacing: 1px;
}

.products-search input:focus {
  outline: none;
}

.search-empty-products {
  width: 95%;
  text-align: center;
}

.search-empty-products span {
  color: #969696;
}

.container-all-items-products-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-all-items-products-categories .container-products-dynamic {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1), 0px 0px 5px 3px rgba(51, 50, 50, 0.1);
}

.container-all-items-products-categories .container-products-dynamic .product-card {
  flex: 1;
  display: flex;
  min-height: 160px;
  min-width: 320px;
  cursor: pointer;
  margin: 10px;
  border: 1px solid rgba(204, 204, 204, 0.7);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #F4F5F7;
  border-radius: 5px;
  width: 100%;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-title {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-title .product-view {
  padding-right: 5px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: space-between;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body span:nth-child(1) span:nth-child(2) {
  background-color: rgba(175, 208, 214, 0.5);
  border-radius: 5px;
  padding: 0 3px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body span:nth-child(2) span:nth-child(2) {
  background-color: rgba(175, 208, 214, 0.5);
  border-radius: 5px;
  padding: 0 3px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body span:nth-child(3) span:nth-child(2) {
  background-color: #F7E8A4;
  background-color: rgba(175, 208, 214, 0.5);
  border-radius: 5px;
  padding: 0 3px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body span:nth-child(4) span:nth-child(2) {
  background-color: rgba(175, 208, 214, 0.5);
  border-radius: 5px;
  padding: 0 3px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body span:nth-child(5) span:nth-child(2) {
  background-color: rgba(175, 208, 214, 0.5);
  border-radius: 5px;
  padding: 0 3px;
  width: auto;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body span {
  flex: 1;
  padding: 1px 2px;
  color: #716A5C;
  display: flex;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-body span span:last-child {
  color: black;
  font-size: 12px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-footer span {
  background-color: #F1E3E4;
  border-radius: 20px;
  margin-bottom: 5px;
  color: #01161E;
  font-size: 10px;
  padding: 0 10px;
  letter-spacing: 0.5px;
}

.container-all-items-products-categories .container-products-dynamic .product-card .products-card-right .product-footer span:nth-child(2n) {
  padding: 0 2px;
  background-color: #CCBCBC;
  color: #01161E;
}

.products-card-left {
  width: 40%;
  border-right: 1px solid rgba(254, 205, 170, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 356px) {
  .container-products-dynamic .product-card {
    min-width: 220px;
    flex-direction: column;
  }

  .container-products-dynamic .product-card .products-card-left {
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-products-dynamic .product-card .products-card-right {
    width: 100%;
    height: 200px;
  }
}

@-webkit-keyframes opacity-peroducts-cards {
  from {
    opacity: 0;
    background-color: #F4F5F7;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-peroducts-cards {
  from {
    opacity: 0;
    background-color: #F4F5F7;
  }

  to {
    opacity: 1;
  }
}

.m-container-show-product {
  width: 100%;
}

.m-container-show-product form .container-header {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  position: relative;
}

.m-container-show-product form .container-header .btn-save-product {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #004777;
  border-radius: 0 10px;
  padding: 0 10px;
  color: white;
}

.m-container-show-product form .container-header .left-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.m-container-show-product form .container-header .left-header .img-header img {
  width: 150px;
  border-radius: 50%;
}

.m-container-show-product form .container-header .left-header .user-name-create-product {
  font-size: 14px;
}

.m-container-show-product form .container-header .left-header .user-date-create-product {
  font-size: 12px;
}

.m-container-show-product form .container-header .right-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.m-container-show-product form .container-header .right-header .product-name {
  width: 100%;
}

.m-container-show-product form .container-header .right-header .product-name input {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
}

.m-container-show-product form .container-header .right-header .product-name input:focus {
  outline: none;
}

.m-container-show-product form .container-header .right-header .product-name:after {
  content: "";
  width: 60%;
  height: 1px;
  background-color: rgba(204, 204, 204, 0.8);
  display: block;
}

.m-container-show-product form .container-header .right-header .product-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.m-container-show-product form .container-header .right-header .product-price-sale {
  background-image: linear-gradient(#286e55, #19885f);
}

.m-container-show-product form .container-header .right-header .product-price-sale input {
  background-image: linear-gradient(#32936F, #32936F);
}

.m-container-show-product form .container-header .right-header .product-price-cost {
  background-image: linear-gradient(#286e55, #19885f);
}

.m-container-show-product form .container-header .right-header .product-price-cost input {
  background-image: linear-gradient(#32936F, #32936F);
}

.m-container-show-product form .container-header .right-header .product-amount {
  background-image: linear-gradient(#286e55, #19885f);
}

.m-container-show-product form .container-header .right-header .product-amount input {
  background-image: linear-gradient(#32936F, #32936F);
}

.m-container-show-product form .container-header .right-header .product-margin {
  background-image: linear-gradient(#01080e, #061622);
}

.m-container-show-product form .container-header .right-header .product-margin input {
  background-image: linear-gradient(#011627, #022441);
}

.m-container-show-product form .container-header .right-header .product-price-profit {
  background-image: linear-gradient(#c49300, #a57d04);
}

.m-container-show-product form .container-header .right-header .product-price-profit input {
  background-image: linear-gradient(#FFBF00, #dba606);
}

.m-container-show-product form .container-header .right-header .product-price-sale,
.m-container-show-product form .container-header .right-header .product-price-profit,
.m-container-show-product form .container-header .right-header .product-amount,
.m-container-show-product form .container-header .right-header .product-margin,
.m-container-show-product form .container-header .right-header .product-price-cost {
  margin-top: 10px;
  width: 200px;
  opacity: 0.9;
  border-radius: 5px;
}

.m-container-show-product form .container-header .right-header .product-price-sale input,
.m-container-show-product form .container-header .right-header .product-price-profit input,
.m-container-show-product form .container-header .right-header .product-amount input,
.m-container-show-product form .container-header .right-header .product-margin input,
.m-container-show-product form .container-header .right-header .product-price-cost input {
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
  border-radius: 0 0 5px 5px;
  height: 40px;
  text-align: center;
  width: 100%;
}

.m-container-show-product form .container-header .right-header .product-price-sale input:focus,
.m-container-show-product form .container-header .right-header .product-price-profit input:focus,
.m-container-show-product form .container-header .right-header .product-amount input:focus,
.m-container-show-product form .container-header .right-header .product-margin input:focus,
.m-container-show-product form .container-header .right-header .product-price-cost input:focus {
  outline: none;
}

.m-container-show-product form .container-header .right-header .product-price-sale .product-label,
.m-container-show-product form .container-header .right-header .product-price-profit .product-label,
.m-container-show-product form .container-header .right-header .product-amount .product-label,
.m-container-show-product form .container-header .right-header .product-margin .product-label,
.m-container-show-product form .container-header .right-header .product-price-cost .product-label {
  color: white;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.m-container-show-product form .container-header .right-header .product-category {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid rgba(204, 204, 204, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}

.m-container-show-product form .container-header .right-header .product-category .product-label {
  color: #4A5759;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05rem;
}

.m-container-show-product form .container-header .right-header .product-category .container-product-category-array {
  display: flex;
  flex-wrap: wrap;
}

.m-container-show-product form .container-header .right-header .product-category .container-product-category-array .category-name {
  background-color: #B185A7;
  position: relative;
  border-radius: 5px;
  padding-right: 12px;
  color: white;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.m-container-show-product form .container-header .right-header .product-category .container-product-category-array .category-name .remove-category {
  cursor: pointer;
}

.m-container-show-product form .container-header .right-header .product-category .container-product-category-array .category-name:nth-child(2n) {
  background-color: #8D6B94;
}

.m-container-show-product form .container-header .right-header .product-category .container-product-category-array .category-name span {
  padding: 0 10px;
}

.m-container-show-product form .container-header .right-header .product-category .container-product-category-array .category-name i {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 17px;
  height: 15px;
}

.m-container-show-product form .container-header .right-header .product-category .container-product-category-array .category-add {
  background-color: #00916E;
  color: white;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  height: 21px;
  cursor: pointer;
}

.m-container-show-product form .container-header .right-header .product-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(204, 204, 204, 0.7);
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px;
}

.m-container-show-product form .container-header .right-header .product-description textarea {
  width: 100%;
  border: 0;
  padding: 5px;
}

.m-container-show-product form .container-header .right-header .product-description textarea:focus {
  outline: none;
}

.m-container-show-product form .container-header .right-header .product-description .product-label {
  color: #4A5759;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05rem;
}

.m-container-show-product form .add-images-product {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 5px 5px;
}

.m-container-show-product form .add-images-product .btn-new-image {
  background-color: #374151;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.m-container-show-product form .add-images-product .btn-new-image:focus {
  outline: none;
}

.m-container-show-product form .add-images-product .btn-new-image .btn-add {
  cursor: pointer;
}

.m-container-show-product form .add-images-product .btn-new-image .btn-add i {
  font-size: 14px;
}

.m-container-show-product form .container-body {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.m-container-show-product form .container-body .border-images-container {
  border-radius: 10px;
  border: 1px solid rgba(204, 204, 204, 0.9);
  padding: 10px;
  margin: 10px;
}

.m-container-show-product form .container-body .border-images-container .array-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.m-container-show-product form .container-body .border-images-container .array-images .product-card {
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin: 5px;
}

.m-container-show-product form .container-body .border-images-container .array-images .product-card .product-image {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

.m-container-show-product form .container-body .border-images-container .array-images .product-card .product-delete-update {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
}

.m-container-show-product form .container-body .border-images-container .array-images .product-card .product-delete-update .product-delete-image {
  color: white;
  background-color: #A30000;
  width: 70px;
  height: 22px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.m-container-show-product form .container-body .border-images-container .array-images .product-card .product-delete-update .product-edit-image {
  color: white;
  background-color: #F5B700;
  width: 70px;
  height: 22px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.m-container-show-product form .container-body .border-images-container .array-images .product-card .product-delete-update .product-edit-image label {
  cursor: pointer;
}

.margin-product-list {
  margin-left: 7px;
}

.select-category-add {
  min-width: 150px;
  padding: 2px;
  border-radius: 5px;
}

.select-category-add:focus {
  outline: none;
}

.message-save-success-product {
  position: absolute;
  right: 70px;
  top: 0;
  color: #306D3E;
  padding: 0 20px;
  display: none;
}

@-webkit-keyframes product-in-message-success {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes product-in-message-success {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes product-out-message-success {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes product-out-message-success {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 513px) {
  .container-body {
    background-color: red;
  }

  .container-body .border-images-container .array-images .product-card {
    width: 100%;
  }

  .container-body .border-images-container .array-images .product-card .product-image {
    width: 100% !important;
    height: 300px !important;
  }
}

@media screen and (max-width: 836px) {
  .container-header {
    flex-direction: column;
  }

  .container-header .right-header {
    margin-top: 10px;
  }

  .product-price-cost,
  .product-price-sale,
  .product-price-profit,
  .product-amount,
  .product-margin {
    width: 100% !important;
    display: flex;
    flex-direction: column;
  }
}

.container-categories-dynamic {
  display: flex;
  flex-direction: column;
}

.category-delete {
  background-color: #D52941;
  color: white;
  border-radius: 5px;
  padding: 0.095rem 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 10px;
}

.no-category-delete {
  background-color: #D52941;
  color: white;
  border-radius: 5px;
  padding: 0.095rem 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 10px;
  opacity: 0.5;
  cursor: text;
}

.category-edit {
  background-color: #F5BB00;
  color: white;
  border-radius: 5px;
  padding: 0.095rem 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-delete,
.icon-edit {
  font-size: 13px;
}

.input-category-modal-edit {
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  letter-spacing: 0.05rem;
}

.input-category-modal-edit:focus {
  outline: none;
}

.table-categories {
  margin-bottom: 15px;
}

.product-description-create {
  border: 1px solid #d2d6dc;
  border-radius: 5px;
  padding-left: 10px;
}

.product-description-create:focus {
  outline: none;
}

.div-add-image-product {
  margin-top: 10px;
}

.label-add-image-product {
  background-color: #29313d;
  color: #F9FAFA;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 280px;
}

.zm-hand {
  cursor: pointer;
}

.images-preview-create-product {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 539px) {
  .div-add-image-product,
  .label-add-image-product {
    width: 100%;
  }
}

.show-mobile-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.show-mobile-search form.form-search-mobile {
  display: flex;
  width: 80%;
}

.show-mobile-search form.form-search-mobile .show-img-close-mobile {
  position: absolute;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

.show-mobile-search form.form-search-mobile .show-img-close-mobile img {
  height: 20px;
  opacity: 0.7;
  background-position: center;
}

.show-mobile-search form.form-search-mobile .show-input-search-mobile {
  width: 100%;
}

.show-mobile-search form.form-search-mobile .show-input-search-mobile input {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 40px 40px rgba(0, 0, 0, 0.1);
  border: none;
  padding-left: 50px;
}

.show-mobile-search form.form-search-mobile .show-input-search-mobile input:focus {
  outline: none;
}

.show-mobile-search .search-a {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.show-mobile-search .search-a .search-user-btn {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  color: white;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #197BBD 0%, #1d76b1 35%, #186fa8 100%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.show-mobile-search .search-a .search-user-btn:focus {
  outline: none;
}

.show-mobile-search .search-a .search-user-btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.show-mobile-search .search-a .search-user-btn span {
  margin-left: 10px;
}

.table-show {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-show table {
  width: 100%;
}

.table-show table thead tr {
  height: 45px;
}

.table-show table thead tr th .home-th-gambi {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgba(59, 59, 59, 0.9);
  width: 98%;
  height: 40px;
  padding-left: 10px;
  color: #f2f2f2;
  border-radius: 7px;
  vertical-align: text-bottom;
}

.table-show table tbody tr {
  height: 48px;
}

.table-show table tbody tr td .home-th-gambi {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgba(88, 188, 130, 0.5);
  width: 98%;
  height: 38px;
  padding-left: 10px;
  color: #4D4D4D;
  border-radius: 7px;
  vertical-align: text-bottom;
}

.table-show table tbody tr td .home-th-gambi .show-users-view-logged {
  color: white;
  background-color: #2D1E2F;
  border-radius: 30px;
  padding: 0 8px;
  border-bottom: 1px solid rgba(45, 30, 47, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 106px;
  text-align: center;
}

.table-show table tbody tr td .home-th-gambi .show-users-view-logged:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.table-show table tbody tr td .home-th-gambi .show-users-view-no-logged {
  color: #2D1E2F;
  background-color: #F7B32B;
  border-radius: 30px;
  text-align: center;
  padding: 0 8px;
  width: 106px;
  border-bottom: 1px solid rgba(45, 30, 47, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.table-show table tbody tr td .home-th-gambi .show-users-view-no-logged:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.table-show table tbody tr td .home-th-gambi .show-users-permission-Vendedor {
  color: white;
  background-color: #1B79B9;
}

.table-show table tbody tr td .home-th-gambi .show-users-permission-Administrador {
  color: #2D1E2F;
  background-color: white;
}

.table-show table tbody tr td .home-th-gambi .show-users-permission-Inativo {
  color: white;
  background-color: #CE4A31;
}

.table-show table tbody tr td .home-th-gambi .show-users-permission {
  text-align: center;
  width: 120px;
  border-radius: 30px;
  padding: 0 8px;
  border-bottom: 1px solid rgba(45, 30, 47, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.table-show table tbody tr:nth-child(2n) .home-th-gambi {
  background-color: rgba(217, 217, 217, 0.8);
}

.table-show .users-link {
  margin-top: 20px;
}

.table-one-img {
  width: 17px;
  height: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.table-three-img {
  width: 17px;
  height: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.table-for-img {
  width: 17px;
  height: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.table-two-img {
  width: 17px;
  height: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 946px) {
  .show-mobile-search .search-a {
    border-radius: 10px;
    width: 40px;
  }

  .show-mobile-search .search-a .search-user-btn {
    width: 50px;
    border-radius: 10px;
  }

  .show-mobile-search .search-a .search-user-btn span {
    display: none;
  }
}

@media (min-height: 800px) {
  .table-show table thead tr {
    height: 65px;
  }

  .table-show table thead tr th .home-th-gambi {
    height: 55px;
  }

  .table-show table tbody tr {
    height: 65px;
  }

  .table-show table tbody tr td .home-th-gambi {
    height: 55px;
  }
}

@media (max-width: 768px) {
  .hide-768 {
    display: none;
  }
}

@media (max-width: 576px) {
  .hide-576 {
    display: none;
  }

  .upper-576 {
    text-transform: uppercase;
  }
}

.message-error {
  color: red;
  opacity: 0.9;
  font-size: 13px;
}

