

.container-category-product {
  
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  
.category-product-main-painel {
            background-color: white;      
            max-height: 70px;
            min-width: 250px;
            margin: 0 30px 30px;
            border-radius: 10px;
            flex: 1;
            cursor: pointer;
            
            
           
        .add-new-category-row {
            
            display: flex;
            box-shadow: 1px 10px 10px rgba($color: #000000, $alpha: 0.2) , 1px 10px 20px rgba($color: #000000, $alpha: 0.1);
            border-radius: 10px;
                .add-new-left-col-1{
                   
                    background-image: linear-gradient(#0D91D1 ,#1479ac );
                    min-height: 70px;
                    width: 20%;
                    border-radius: 10px 0 0 10px;
                        display: flex;
                        font-size: 30px;
                        justify-content: center;
                        align-items: center;
                        color: white;

                }

                .add-new-right-col {
                    display: flex;

                    
                    width: 100%;
                    .content-category-title-body { 
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .add-new-title {
                            font-size: 13px;
                            padding-left: 6px;  
                        
                        }
                        .add-new-message {
                            font-size: 25px;
                            font-weight: 600;
                            padding-left: 6px; 

                        }
                    }
                    .line-right-card-1 {
                        width: 7px;
                        background-image: linear-gradient(#0D91D1 ,#1479ac );
                        border-radius: 0 10px 10px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                            .card-icon-info {
                                color: white;
                              
                                font-weight: lighter;
                                display: flex;
                                opacity: 0;
                                
                            }
                        
                    }
               }


        }
}
}

                // PROVISORIO
                .add-new-left-col-3{
                    
                    background-image: linear-gradient(#EA8C55 ,#c77647 );
                    min-height: 70px;
                    width: 20%;
                    border-radius: 10px 0 0 10px;
                        display: flex;
                        font-size: 30px;
                        justify-content: center;
                        align-items: center;
                        color: white;
                }

                .add-new-left-col-2{
                    background-color:#622666 ;
                    background-image: linear-gradient(#69306D ,#86358b );
                    min-height: 70px;
                    width: 20%;
                    border-radius: 10px 0 0 10px;
                        display: flex;
                        font-size: 30px;
                        justify-content: center;
                        align-items: center;
                        color: white;
                }

                .line-right-card-2 {
                    width: 7px;
                    background-image: linear-gradient(#69306D ,#86358b );
                    border-radius: 0 10px 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .card-icon-info {
                        color: white;
                      
                        font-weight: lighter;
                        display: flex;
                        opacity: 0;
                        
                    }
                }
                .line-right-card-3 {
                    width: 7px;
                    background-image: linear-gradient(#EA8C55 ,#c77647 );
                    border-radius: 0 10px 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .card-icon-info {
                        color: white;
                      
                        font-weight: lighter;
                        display: flex;
                        opacity: 0;
                        
                    }
                }
                /////////////////////////

            @keyframes cards-icon-size-enter {
                from {
                    font-size: 30px;
                }
                to {
                    font-size: 35px;
                }
            }
            @keyframes cards-icon-size-leave {
                from {
                    font-size: 35px;
                }
                to {
                    font-size: 30px;
                }
            }
            @keyframes div-rigth  {
                from {
                    width:7px;
                }
                to {
                    width:20%;
                }
            }
            @keyframes div-rigth-reverse  {
                from {
                    width:7px;
                }
                to {
                    width:20%;
                }
            }

            @keyframes icon-info-show  {

                from {
                    opacity: 0;
                    font-size: 1px;
                }
                to {
                    opacity: 1;
                    font-size: 28px;
                    
                  
                }

            }

            @keyframes icon-info-show-reverse  {

                from {
                    opacity: 1;
                    font-size: 28px;
                }
                to {
                    opacity: 0;
                    font-size: 1px;
                    
                  
                }

            }