.table-show-users{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
table {
    width: 100%;
   
    thead {
       
        
        

        tr {

         height: 45px;
         
         

            
            th  .home-th-gambi {
                display: flex;
                align-items: center;
                justify-content: left;
                background-color: rgba($color: #3B3B3B, $alpha: 0.9);
                width: 98%; 
                height: 40px;  
                padding-left: 10px;  
                color:#f2f2f2;
                border-radius: 7px;
            
                vertical-align:text-bottom;
                
              
            }
        }
   
    }
    tbody {
        tr {
            
            height: 48px;
            
            
            td  .home-th-gambi {
                display: flex;
                align-items: center;
                justify-content: left;
                background-color: rgba($color: #58BC82, $alpha: 0.5);
                width: 98%; 
                height: 38px;  
                padding-left: 10px;  
                color:#4D4D4D;
                border-radius: 7px;
            
                vertical-align:text-bottom;

                .show-users-view-logged {
                    color:white;
                    background-color: #2D1E2F ;
                    border-radius: 30px;
                    padding: 0 8px;
                    border-bottom: 1px solid rgba($color: #2D1E2F, $alpha: 0.3);
                    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
                    width: 106px;
                    text-align: center;
                        &:hover{
                            box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);  
                        }
                }
                .show-users-view-no-logged {
                    color:#2D1E2F;
                    background-color: #F7B32B;
                    border-radius: 30px;
                    text-align: center;
                    padding:0 8px;
                    width: 106px;
                    border-bottom: 1px solid rgba($color: #2D1E2F, $alpha: 0.2);
                    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
                        &:hover{
                            box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);  
                        }
                }

                .show-users-permission-Vendedor {
                    color:white;
                    background-color: #1B79B9;

                }
                .show-users-permission-Administrador {
                    color:#2D1E2F;
                    background-color: white;
  
                }
                .show-users-permission-Inativo {
                    color:white;
                    background-color: #CE4A31;

                }
                .show-users-permission {
                    text-align: center;
                    width: 120px;
                    border-radius: 30px;
                    padding:0 8px;
                    border-bottom: 1px solid rgba($color: #2D1E2F, $alpha: 0.2);
                    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
                }
                
              
            }
        }
        tr:nth-child(2n) .home-th-gambi {
            background-color: rgba($color: #d9d9d9, $alpha: 0.8);
         }
    }
    
}
    .users-link {
        margin-top: 20px;
    }
}

.show-users-user-img {
    width: 17px;
    height: 17px;
    background-image: url("../../../public/imgs/show_users/user2.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.show-users-permission-img {
    width: 17px;
    height: 17px;
    background-image: url("../../../public/imgs/show_users/permission.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.show-users-actions-img {
    width: 17px;
    height: 17px;
    background-image: url("../../../public/imgs/show_users/view.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.show-users-email-img {
    width: 17px;
    height: 17px;
    background-image: url("../../../public/imgs/show_users/email.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

