@media (max-width:946px) {
    .show-mobile-search {
        .search-a {
            border-radius: 10px;
            width: 40px;
            .search-user-btn {
                width: 50px;
                border-radius: 10px;
                span {
                   display: none;
                  
                }
            }
        }
    }
}
    
    
    
    
    
    
    
    